# Create Database

## Connection to Database

In [1]:
# import statements
import subprocess
import sqlalchemy
from sqlalchemy import text
import csv

In [2]:
# Need to reinstall mysql through terminal
subprocess.run(["pip","install","mysqlclient"])
subprocess.run(["pip","install","mysql-connector-python"])

CompletedProcess(args=['pip', 'install', 'mysql-connector-python'], returncode=0)

In [3]:
# host = "cloud.google.com"
# INSTANCE_NAME ="thematic-garage-306516:us-west1:database-systems"
# db_string = f"mysql+mysqldb://root:{PASSWORD}@{PUBLIC_IP_ADDRESS}/{DBNAME}?unix_socket=/cloudsql/{INSTANCE_NAME}"

USER = "root"
PASSWORD = "secretsmakefriends125678"
PUBLIC_IP_ADDRESS ="34.105.17.205"
DBNAME ="mostDangerousState_db"

DATABASE_URI=f'mysql+mysqlconnector://{USER}:{PASSWORD}@{PUBLIC_IP_ADDRESS}/{DBNAME}'

print("Connection string is:", DATABASE_URI)

Connection string is: mysql+mysqlconnector://root:secretsmakefriends125678@34.105.17.205/mostDangerousState_db

In [4]:
try:
    engine = sqlalchemy.create_engine( DATABASE_URI )
    conn = engine.connect()
except Exception as exp:
    print("Create engine failed:", exp)

## Create Tables

In [5]:
# Drop all existing Tables
conn.execute("DROP TABLE IF EXISTS TotalMurders;")
conn.execute("DROP TABLE IF EXISTS IndividualMurders;")
conn.execute("DROP TABLE IF EXISTS ORIs;")
conn.execute("DROP TABLE IF EXISTS CrashFatalities;")
conn.execute("DROP TABLE IF EXISTS Populations;")
conn.execute("DROP TABLE IF EXISTS States;")
conn.execute("DROP TABLE IF EXISTS Regions;")
conn.execute("SHOW TABLES;").fetchall()

[]

In [6]:
# Regions Table
conn.execute("""
    CREATE TABLE IF NOT EXISTS Regions (
        id TINYINT(1) NOT NULL,
        region VARCHAR(16) NOT NULL,
        PRIMARY KEY (id));
""")

In [7]:
# States Table
conn.execute("""
    CREATE TABLE IF NOT EXISTS States (
        state VARCHAR(21) NOT NULL,
        region_id TINYINT(1) NOT NULL,
        PRIMARY KEY (state),
        CONSTRAINT fk_region_id
            FOREIGN KEY (region_id)
            REFERENCES Regions (id)
            ON DELETE RESTRICT
            ON UPDATE CASCADE);
""")

In [8]:
# ORIs Table
conn.execute("""
    CREATE TABLE IF NOT EXISTS ORIs (
        ori VARCHAR(7) NOT NULL,
        state VARCHAR(21) NOT NULL,
        county VARCHAR(45) NULL,
        agency VARCHAR(45) NULL,
        PRIMARY KEY (ori),
        FOREIGN KEY (state)
            REFERENCES States (state)
            ON DELETE RESTRICT
            ON UPDATE CASCADE);
""")

In [9]:
# Populations Table
conn.execute("""
    CREATE TABLE IF NOT EXISTS Populations (
        state VARCHAR(21) NOT NULL,
        pop2010 INT(10) UNSIGNED NULL,
        pop2011 INT(10) UNSIGNED NULL,
        pop2012 INT(10) UNSIGNED NULL,
        pop2013 INT(10) UNSIGNED NULL,
        pop2014 INT(10) UNSIGNED NULL,
        pop2015 INT(10) UNSIGNED NULL,
        pop2016 INT(10) UNSIGNED NULL,
        pop2017 INT(10) UNSIGNED NULL,
        pop2018 INT(10) UNSIGNED NULL,
        pop2019 INT(10) UNSIGNED NULL,
        deaths2010 INT(10) UNSIGNED NULL,
        deaths2011 INT(10) UNSIGNED NULL,
        deaths2012 INT(10) UNSIGNED NULL,
        deaths2013 INT(10) UNSIGNED NULL,
        deaths2014 INT(10) UNSIGNED NULL,
        deaths2015 INT(10) UNSIGNED NULL,
        deaths2016 INT(10) UNSIGNED NULL,
        deaths2017 INT(10) UNSIGNED NULL,
        deaths2018 INT(10) UNSIGNED NULL,
        deaths2019 INT(10) UNSIGNED NULL,
        PRIMARY KEY (state),
        FOREIGN KEY (state)
            REFERENCES States (state)
            ON DELETE RESTRICT
            ON UPDATE CASCADE);
        
""")

In [10]:
# CrashFatalities Table
conn.execute("""
    CREATE TABLE IF NOT EXISTS CrashFatalities (
        state VARCHAR(21) NOT NULL,
        year2010 SMALLINT(5) UNSIGNED NULL,
        year2011 SMALLINT(5) UNSIGNED NULL,
        year2012 SMALLINT(5) UNSIGNED NULL,
        year2013 SMALLINT(5) UNSIGNED NULL,
        year2014 SMALLINT(5) UNSIGNED NULL,
        year2015 SMALLINT(5) UNSIGNED NULL,
        year2016 SMALLINT(5) UNSIGNED NULL,
        year2017 SMALLINT(5) UNSIGNED NULL,
        year2018 SMALLINT(5) UNSIGNED NULL,
        year2019 SMALLINT(5) UNSIGNED NULL,
        PRIMARY KEY (state),
        FOREIGN KEY (state)
            REFERENCES States (state)
            ON DELETE RESTRICT
            ON UPDATE CASCADE);
""")

In [11]:
# TotalMurders Table
conn.execute("""
    CREATE TABLE IF NOT EXISTS TotalMurders (
        ori VARCHAR(7) NOT NULL,
        year SMALLINT(4) NOT NULL,
        murders SMALLINT(4) NULL,
        clears SMALLINT(4) NULL,
        PRIMARY KEY (ori, year),
        FOREIGN KEY (ori)
            REFERENCES ORIs (ori)
            ON DELETE RESTRICT
            ON UPDATE CASCADE);
""")

In [12]:
# IndividualMurders Table
conn.execute("""
    CREATE TABLE IF NOT EXISTS IndividualMurders (
        id VARCHAR(16) NOT NULL,
        ori VARCHAR(7) NOT NULL,
        solved TINYINT NULL DEFAULT 0,
        year SMALLINT(4) NOT NULL,
        month VARCHAR(9) NULL,
        homicide VARCHAR(100) NULL,
        situation VARCHAR(100) NULL,
        vic_age TINYINT(3) NULL,
        vic_sex VARCHAR(7) NULL,
        vic_race VARCHAR(45) NULL,
        vic_ethnicity VARCHAR(45) NULL,
        off_age TINYINT(3) NULL,
        off_sex VARCHAR(7) NULL,
        off_race VARCHAR(45) NULL,
        off_ethnicity VARCHAR(45) NULL,
        weapon VARCHAR(45) NULL,
        relationship VARCHAR(45) NULL,
        circumstance VARCHAR(45) NULL,
        subcircumstance VARCHAR(45) NULL,
        vic_count TINYINT(2) NULL,
        off_count TINYINT(2) NULL,
        PRIMARY KEY (id),
        FOREIGN KEY (ori)
            REFERENCES ORIs (ori)
            ON DELETE RESTRICT
            ON UPDATE CASCADE);
""")

In [13]:
# Confirm Tables exist
conn.execute("SHOW TABLES;").fetchall()

[('CrashFatalities',),
 ('IndividualMurders',),
 ('ORIs',),
 ('Populations',),
 ('Regions',),
 ('States',),
 ('TotalMurders',)]

## Add Data to Tables

In [14]:
# Region data from census.csv
conn.execute("DELETE FROM Regions;")
with open('CleanData/census.csv', newline='') as censusfile:
    lines = csv.reader(censusfile, delimiter=',')
    next(lines) # first line is header
    for i in range(0,5): # these five lines include region information
        line = next(lines)
        sql = text("""
            INSERT INTO Regions
            VALUES (:id, :region);
        """)
        values = {"id": line[0], "region": line[1]}
        try:
            conn.execute(sql, values)
        except:
            pass
conn.execute("SELECT * FROM Regions;").fetchall()

[(0, 'United States'),
 (1, 'Northeast Region'),
 (2, 'Midwest Region'),
 (3, 'South Region'),
 (4, 'West Region')]

In [15]:
# State data from census.csv
conn.execute("DELETE FROM States;")
with open('CleanData/census.csv', newline='') as censusfile:
    lines = csv.reader(censusfile, delimiter=',')
    for i in range(0,6): # first  6 lines include general region information
        next(lines)
    for line in lines:
        sql = text("""
            INSERT INTO States
            VALUES (:state, :regionid);
        """)
        values = { "state": line[1], "regionid": line[0]}
        try:
            conn.execute(sql, values)
        except:
            pass
conn.execute("SELECT COUNT(state) FROM States;").fetchall()[0][0] # Should be 52 including DC and Puerto Rico

52

In [18]:
# ORI data from oris.csv
conn.execute("DELETE FROM ORIs;")
with open('CleanData/oris.csv', newline='') as orisfile:
    lines = csv.reader(orisfile, delimiter=',')
    next(lines) # first line is header
    for line in lines:
        cnty = line[2].split(", ")[0] # data uses format 'Anchorage, AK'
        sql = text("""
            INSERT INTO ORIs
            VALUES (:ori, :state, :county, :agency)
        """)
        values = {"ori": line[0], "state": line[1], "county": cnty, "agency": line[3]}
        try:
            conn.execute(sql, values)
        except:
            pass

In [21]:
# Population data from census.csv
conn.execute("DELETE FROM Populations;")
with open('CleanData/census.csv', newline='') as censusfile:
    lines = csv.reader(censusfile, delimiter=',')
    for i in range(0,6): # first  6 lines include general region information
        next(lines)
    for line in lines:
        sql = text("""
            INSERT INTO Populations
            VALUES (:state, 
            :pop2010, :pop2011, :pop2012, :pop2013, :pop2014,
            :pop2015, :pop2016, :pop2017, :pop2018, :pop2019,
            :deaths2010, :deaths2011, :deaths2012, :deaths2013, :deaths2014,
            :deaths2015, :deaths2016, :deaths2017, :deaths2018, :deaths2019);
        """)
        values = { "state": line[1], "pop2010": line[2], "pop2011": line[3], "pop2012": line[4], "pop2013": line[5],
                  "pop2014": line[6], "pop2015": line[7], "pop2016": line[8], "pop2017": line[9], "pop2018": line[10],
                  "pop2019": line[11], "deaths2010": line[12], "deaths2011": line[13], "deaths2012": line[14], "deaths2013": line[15],
                  "deaths2014": line[16], "deaths2015": line[17], "deaths2016": line[18], "deaths2017": line[19], "deaths2018": line[20],
                  "deaths2019": line[21]
                 }
        try:
            conn.execute(sql, values)
        except:
            pass

In [26]:
# Crash Fatality data from crashreport.csv
conn.execute("DELETE FROM CrashFatalities;")
with open('CleanData/crashreport.csv', newline='') as crashfile:
    lines = csv.reader(crashfile, delimiter=',')
    for line in lines:
        sql = text("""
            INSERT INTO CrashFatalities
            VALUES (:state, :year2010, :year2011, :year2012, :year2013, :year2014,
            :year2015, :year2016, :year2017, :year2018, :year2019);
        """)
        values = { "state": line[0], "year2010": line[1], "year2011": line[2], "year2012": line[3], "year2013": line[4],
                  "year2014": line[5], "year2015": line[6], "year2016": line[7], "year2017": line[8], "year2018": line[9],
                  "year2019": line[10]
        }
        try:
            conn.execute(sql, values)
        except:
            pass

In [39]:
# Total Murders data from total_murd_simple.csv
conn.execute("DELETE FROM TotalMurders;")
with open('CleanData/total_murd_simple.csv', newline='') as totalmurdfile:
    lines = csv.reader(totalmurdfile, delimiter=',')
    next(lines) # first line is the header
    for line in lines:
        sql = text("""
            INSERT INTO TotalMurders
            VALUES (:ori, :year, :murders, :clears);
        """)
        values = { "ori": line[0], "year": line[1], "murders": line[2], "clears": line[3]}
        try:
            conn.execute(sql, values)
        except:
            pass

In [58]:
# Individual Murders data from ind_murd_simple.csv
conn.execute("DELETE FROM IndividualMurders;")
with open('CleanData/ind_murd_simple.csv', newline='') as indmurdfile:
    lines = csv.reader(indmurdfile, delimiter=',')
    next(lines) # first line is header
    for line in lines:
        sql = text("""
            INSERT INTO IndividualMurders
            VALUES (:id, :ori, :solved, :year, :month, :homicide,
            :situation, :vic_age, :vic_sex, :vic_race, :vic_ethnicity, 
            :off_age, :off_sex, :off_race, :off_ethnicity, :weapon,
            :relationship, :circumstance, :subcircumstance, :vic_count,
            :off_count);
        """)
        # Have to convert solved 'Yes' or 'No' to boolean 1 or 0
        solved_bool = 0
        if line[6] == 'Yes':
            solved_bool = 1
        # Have to convert vic_age of '' to 0
        vic_age = line[11]
        if vic_age == '':
            vic_age = 0
        # Have to convert off_age of '' to 0
        off_age = line[15]
        if off_age == '':
            off_age = 0
        values = { "id": line[0], "ori": line[2], "solved": solved_bool,
                  "year": line[7], "month": line[8], "homicide": line[9],
                  "situation": line[10], "vic_age": vic_age, "vic_sex": line[12],
                  "vic_race": line[13], "vic_ethnicity": line[14], "off_age": off_age,
                  "off_sex": line[16], "off_race": line[17], "off_ethnicity": line[18],
                  "weapon": line[19], "relationship": line[20], "circumstance": line[21],
                  "subcircumstance": line[22], "vic_count": line[23], "off_count": line[24]
        }
        try:
            conn.execute(sql, values)
        except:
            pass

In [68]:
# Test query to find solved murders out of total murders for northeast region
conn.execute("""
    SELECT ORIs.state, SUM(solved), COUNT(IndividualMurders.id)
    FROM IndividualMurders 
    JOIN ORIs ON ORIs.ori=IndividualMurders.ori
    JOIN States ON ORIs.state=States.state
    JOIN Regions ON States.region_id=Regions.id
    WHERE region="Northeast Region"
    GROUP BY ORIs.state
""").fetchall()

[('Connecticut', Decimal('31'), 48),
 ('Maine', Decimal('9'), 10),
 ('Massachusetts', Decimal('37'), 64),
 ('New Hampshire', Decimal('6'), 6),
 ('New Jersey', Decimal('51'), 101),
 ('New York', Decimal('148'), 215),
 ('Pennsylvania', Decimal('140'), 219),
 ('Vermont', Decimal('1'), 1)]