# Data Cleaning & Processing

In [1]:
import numpy as np
import pandas as pd

## SHR76_19 to ind_murd

In [2]:
# Utilize Pandas dataframe to clean the data
ind_murd = pd.read_csv('RawData/SHR76_19.csv')
# What does the base data look like?
ind_murd.head()

,ID,CNTYFIPS,Ori,State,Agency,Agentype,Source,Solved,Year,StateName,...,OffRace,OffEthnic,Weapon,Relationship,Circumstance,Subcircum,VicCount,OffCount,FileDate,MSA
0,197603001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,NaN,...,Black,Unknown or not reported,"Handgun - pistol, revolver, etc",Relationship not determined,Other arguments,NaN,0,0,30180.0,"Anchorage, AK"
1,197604001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,NaN,...,White,Unknown or not reported,"Handgun - pistol, revolver, etc",Girlfriend,Other arguments,NaN,0,0,30180.0,"Anchorage, AK"
2,197606001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,NaN,...,Black,Unknown or not reported,"Handgun - pistol, revolver, etc",Stranger,Other,NaN,0,0,30180.0,"Anchorage, AK"
3,197606002AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,NaN,...,White,Unknown or not reported,"Handgun - pistol, revolver, etc",Other - known to victim,Other arguments,NaN,0,0,30180.0,"Anchorage, AK"
4,197607001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,NaN,...,American Indian or Alaskan Native,Unknown or not reported,Knife or cutting instrument,Brother,Other arguments,NaN,0,0,30180.0,"Anchorage, AK"

In [3]:
# All data attributes (columns) and types
ind_murd.dtypes

ID               object
CNTYFIPS         object
Ori              object
State            object
Agency           object
Agentype         object
Source           object
Solved           object
Year              int64
StateName       float64
Month            object
Incident          int64
ActionType       object
Homicide         object
Situation        object
VicAge            int64
VicSex           object
VicRace          object
VicEthnic        object
OffAge            int64
OffSex           object
OffRace          object
OffEthnic        object
Weapon           object
Relationship     object
Circumstance     object
Subcircum        object
VicCount          int64
OffCount          int64
FileDate        float64
MSA              object
dtype: object

In [4]:
# Data is 1976 - 2019, but only interested in data from 2010 - 2019
recent_im = ind_murd[ind_murd['Year'] >= 2010]
recent_im.head()

,ID,CNTYFIPS,Ori,State,Agency,Agentype,Source,Solved,Year,StateName,...,OffRace,OffEthnic,Weapon,Relationship,Circumstance,Subcircum,VicCount,OffCount,FileDate,MSA
626,201001001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,No,2010,NaN,...,Unknown,Unknown or not reported,"Firearm, type not stated",Relationship not determined,Circumstances undetermined,NaN,0,0,70810.0,"Anchorage, AK"
627,201002001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,2010,NaN,...,Black,Unknown or not reported,"Firearm, type not stated",Acquaintance,Argument over money or property,NaN,0,0,70810.0,"Anchorage, AK"
628,201003001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,2010,NaN,...,Asian,Unknown or not reported,"Firearm, type not stated",Stranger,Felon killed by police,Felon attacked police officer,0,1,71910.0,"Anchorage, AK"
629,201003002AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,2010,NaN,...,White,Unknown or not reported,"Firearm, type not stated",Acquaintance,Felon killed by private citizen,Felon killed in commission of a crime,0,0,71910.0,"Anchorage, AK"
630,201003003AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,2010,NaN,...,White,Unknown or not reported,"Firearm, type not stated",Acquaintance,Other arguments,NaN,0,0,71910.0,"Anchorage, AK"

In [5]:
# General use of .describe() and .unique() to see the general trends in
# given attributes
recent_im['Year'].describe()

count    161166.000000
mean       2014.646116
std           2.851378
min        2010.000000
25%        2012.000000
50%        2015.000000
75%        2017.000000
max        2019.000000
Name: Year, dtype: float64

In [6]:
recent_im['StateName'].unique()

array([nan])

In [7]:
recent_im['Source'].unique()

array(['FBI', 'MAP'], dtype=object)

In [8]:
recent_im['ActionType'].unique()

array(['Normal update', 'Adjustment'], dtype=object)

In [9]:
recent_im['Homicide'].unique()

array(['Murder and non-negligent manslaughter',
       'Manslaughter by negligence'], dtype=object)

In [10]:
recent_im['Incident'].describe()

count    161166.000000
mean         46.481106
std         155.656687
min           0.000000
25%           1.000000
50%           2.000000
75%           8.000000
max         999.000000
Name: Incident, dtype: float64

In [11]:
recent_im['Agentype'].unique()

array(['Municipal police', 'County police', 'Primary state LE', 'Sheriff',
       'Special police', 'Tribal', 'Regional police'], dtype=object)

In [12]:
recent_im['OffAge'].describe()

count    161166.000000
mean        364.614342
std         459.063746
min           0.000000
25%          26.000000
50%          41.000000
75%         999.000000
max         999.000000
Name: OffAge, dtype: float64

In [13]:
recent_im['VicAge'].describe()

count    161166.000000
mean         43.991617
std          99.460189
min           0.000000
25%          23.000000
50%          31.000000
75%          44.000000
max         999.000000
Name: VicAge, dtype: float64

In [14]:
# Both Age columns use '999' to designate NaN
recent_im['OffAge'].replace({999: np.NaN}, inplace=True)
recent_im['OffAge'].describe()

/opt/conda/lib/python3.8/site-packages/pandas/core/series.py:4575: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

count    105798.000000
mean         32.616902
std          13.732891
min           0.000000
25%          22.000000
50%          29.000000
75%          40.000000
max          99.000000
Name: OffAge, dtype: float64

In [15]:
recent_im['VicAge'].replace({999: np.NaN}, inplace=True)
recent_im['VicAge'].describe()

count    159483.000000
mean         33.913558
std          16.445754
min           0.000000
25%          22.000000
50%          30.000000
75%          44.000000
max          99.000000
Name: VicAge, dtype: float64

In [16]:
# Remove StateName Column because all are NaN
# Remove Source Column because not applicable to project
# Remove ActionType Column because not applicable to project
# Remove Incident Column because not applicable to project and poorly defined
# Remove FileDate Column because not useful for project
recent_im2 = recent_im.drop(columns=['StateName','Source','ActionType','Incident','FileDate'])
recent_im2.head()

,ID,CNTYFIPS,Ori,State,Agency,Agentype,Solved,Year,Month,Homicide,...,OffSex,OffRace,OffEthnic,Weapon,Relationship,Circumstance,Subcircum,VicCount,OffCount,MSA
626,201001001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,No,2010,January,Murder and non-negligent manslaughter,...,Unknown,Unknown,Unknown or not reported,"Firearm, type not stated",Relationship not determined,Circumstances undetermined,NaN,0,0,"Anchorage, AK"
627,201002001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,Yes,2010,February,Murder and non-negligent manslaughter,...,Male,Black,Unknown or not reported,"Firearm, type not stated",Acquaintance,Argument over money or property,NaN,0,0,"Anchorage, AK"
628,201003001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,Yes,2010,March,Murder and non-negligent manslaughter,...,Male,Asian,Unknown or not reported,"Firearm, type not stated",Stranger,Felon killed by police,Felon attacked police officer,0,1,"Anchorage, AK"
629,201003002AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,Yes,2010,March,Murder and non-negligent manslaughter,...,Female,White,Unknown or not reported,"Firearm, type not stated",Acquaintance,Felon killed by private citizen,Felon killed in commission of a crime,0,0,"Anchorage, AK"
630,201003003AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,Yes,2010,March,Murder and non-negligent manslaughter,...,Male,White,Unknown or not reported,"Firearm, type not stated",Acquaintance,Other arguments,NaN,0,0,"Anchorage, AK"

In [17]:
recent_im2.dtypes

ID               object
CNTYFIPS         object
Ori              object
State            object
Agency           object
Agentype         object
Solved           object
Year              int64
Month            object
Homicide         object
Situation        object
VicAge          float64
VicSex           object
VicRace          object
VicEthnic        object
OffAge          float64
OffSex           object
OffRace          object
OffEthnic        object
Weapon           object
Relationship     object
Circumstance     object
Subcircum        object
VicCount          int64
OffCount          int64
MSA              object
dtype: object

In [18]:
# Remaining data for 2010 - 2019 is of interest and
# will be used in the project
# Save off dataframe as .csv file
recent_im2.to_csv('CleanData/ind_murd.csv', index=False)

## UCR65_19 to total_murd

In [19]:
# Utilize Pandas dataframe to clean the data
total_murd = pd.read_csv('RawData/UCR65_19.csv')
# What does the base data look like?
total_murd.head()

       ORI       Name  YEAR  MRD  CLR   State         County     Agency
0  AK00101  ANCHORAGE  1965    7    6  Alaska  Anchorage, AK  Anchorage
1  AK00101  ANCHORAGE  1966   18   16  Alaska  Anchorage, AK  Anchorage
2  AK00101  ANCHORAGE  1967    1    1  Alaska  Anchorage, AK  Anchorage
3  AK00101  ANCHORAGE  1968    7    5  Alaska  Anchorage, AK  Anchorage
4  AK00101  ANCHORAGE  1969    7    4  Alaska  Anchorage, AK  Anchorage

In [20]:
# Only interested in dates 2010 - 2019
total_murd['YEAR'].describe()

count    166225.000000
mean       1992.787523
std          15.321233
min        1965.000000
25%        1980.000000
50%        1992.000000
75%        2006.000000
max        2019.000000
Name: YEAR, dtype: float64

In [21]:
recent_tm = total_murd[total_murd['YEAR'] >= 2010]
recent_tm['YEAR'].describe()

count    31629.000000
mean      2014.553922
std          2.858048
min       2010.000000
25%       2012.000000
50%       2015.000000
75%       2017.000000
max       2019.000000
Name: YEAR, dtype: float64

In [22]:
# Drop Name Column because it seems redundant with Agency Column
recent_tm2 = recent_tm.drop(columns=['Name'])
recent_tm2.head()

        ORI  YEAR  MRD  CLR   State         County     Agency
45  AK00101  2010   13   10  Alaska  Anchorage, AK  Anchorage
46  AK00101  2011   12   13  Alaska  Anchorage, AK  Anchorage
47  AK00101  2012   15   12  Alaska  Anchorage, AK  Anchorage
48  AK00101  2013   14   12  Alaska  Anchorage, AK  Anchorage
49  AK00101  2014   12    9  Alaska  Anchorage, AK  Anchorage

In [23]:
# The remaining data looks useful for murder totals 2010 - 2019 by state
# Write the clean data to csv file
recent_tm2.to_csv('CleanData/total_murd.csv')

## nst-est2019-alldata to census

In [24]:
# Utilize Pandas dataframe to clean the data
census = pd.read_csv('RawData/nst-est2019-alldata.csv')
# What does the base data look like?
census.head(10)

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,10,0,0,0,United States,308745538,308758105,309321666,311556874,313830990,...,0.000000,2.493773,2.682083,2.636187,2.921500,3.260435,3.252788,2.871957,2.153911,1.818059
1,20,1,0,0,Northeast Region,55317240,55318443,55380134,55604223,55775216,...,-5.254530,0.887909,-0.038355,-0.469783,-0.986097,-2.061965,-2.490484,-1.837048,-2.134447,-2.859713
2,20,2,0,0,Midwest Region,66927001,66929725,66974416,67157800,67336743,...,-2.365881,-0.963930,-0.973943,-0.006924,-0.762969,-1.388437,-1.241784,-0.557370,-0.922755,-1.111173
3,20,3,0,0,South Region,114555744,114563030,114866680,116006522,117241208,...,3.261349,5.130513,5.850458,5.292073,6.161501,7.277358,7.150074,6.198168,5.225519,5.203720
4,20,4,0,0,West Region,71945553,71946907,72100436,72788329,73477823,...,0.614245,2.723344,3.062896,3.162262,4.026429,4.987285,5.261078,4.021194,3.044951,2.312083
5,40,3,6,1,Alabama,4779736,4780125,4785437,4799069,4815588,...,1.917501,0.578434,1.186314,1.522549,0.563489,0.626357,0.745172,1.090366,1.773786,2.483744
6,40,4,9,2,Alaska,710231,710249,713910,722128,730443,...,-12.929847,0.587728,1.416798,-0.955359,-11.460949,-7.997118,-3.897349,-10.992765,-13.859140,-12.031221
7,40,4,8,4,Arizona,6392017,6392288,6407172,6472643,6554978,...,12.609078,4.278167,6.899802,6.376679,9.168478,9.597577,11.964782,10.878879,12.962934,13.687161
8,40,3,7,5,Arkansas,2915918,2916031,2921964,2940667,2952164,...,0.834503,3.294766,0.827785,0.057853,-0.091449,1.075446,1.486269,2.009593,0.958896,0.923429
9,40,4,9,6,California,37253956,37254519,37319502,37638369,37948800,...,-5.151429,1.276797,1.495016,1.649031,2.203551,1.984957,0.500044,-0.629909,-2.130954,-3.276681

In [25]:
# Drop sections of columns that we don't need for project
def drop_sections(name, start_year):
    cols = []
    years = 2019 - start_year + 1
    for i in range(0, years):
        attribute = name + str(start_year + i)
        cols.append(attribute)
    census.drop(cols, axis=1, inplace=True)


# Drop unnecessary columns for NPOPCHG_####
drop_sections('NPOPCHG_', 2010)

# Drop unnecessary columns for BIRTHS####
drop_sections('BIRTHS', 2010)

# Drop unnecessary columns for NATURALINC####
drop_sections('NATURALINC', 2010)

# Drop unnecessary columns for INTERNATIONALMIG####
drop_sections('INTERNATIONALMIG', 2010)

# Drop unnecessary columns for DOMESTICMIG####
drop_sections('DOMESTICMIG', 2010)

# Drop unnecessary columns for NETMIG####
drop_sections('NETMIG', 2010)

# Drop unnecessary columns for RESIDUAL####
drop_sections('RESIDUAL', 2010)

#Drop unnecessary columns for RBIRTH####
drop_sections('RBIRTH', 2011)

#Drop unnecessary columns for RDEATH####
drop_sections('RDEATH', 2011)

#Drop unnecessary columns for RNATURALINC####
drop_sections('RNATURALINC', 2011)

#Drop unnecessary columns for RINTERNATIONALMIG####
drop_sections('RINTERNATIONALMIG', 2011)

#Drop unnecessary columns for RDOMESTIC####
drop_sections('RDOMESTICMIG', 2011)

#Drop unnecessary columns for RNETMIG####
drop_sections('RNETMIG', 2011)

In [26]:
# Drop columns that are not necessary for project
# Drop SUMLEV because the value is not applicable to project
# Drop DIVISION because the value is not applicable to project
# Drop STATE because its value is already in NAME column
# Drop CENSUS2010POP and ESTIMATESBASE2010
#     We will utilize the POPESTIMATES for populations sizes
census.drop(columns=['SUMLEV','DIVISION','STATE','CENSUS2010POP','ESTIMATESBASE2010'], inplace=True)
census.dtypes

REGION             object
NAME               object
POPESTIMATE2010     int64
POPESTIMATE2011     int64
POPESTIMATE2012     int64
POPESTIMATE2013     int64
POPESTIMATE2014     int64
POPESTIMATE2015     int64
POPESTIMATE2016     int64
POPESTIMATE2017     int64
POPESTIMATE2018     int64
POPESTIMATE2019     int64
DEATHS2010          int64
DEATHS2011          int64
DEATHS2012          int64
DEATHS2013          int64
DEATHS2014          int64
DEATHS2015          int64
DEATHS2016          int64
DEATHS2017          int64
DEATHS2018          int64
DEATHS2019          int64
dtype: object

In [27]:
# Update name of REGION and NAME cols to be REGIONID and REGION
census.rename(columns={"REGION": "REGIONID", "NAME": "REGION"}, inplace=True)
census.dtypes

REGIONID           object
REGION             object
POPESTIMATE2010     int64
POPESTIMATE2011     int64
POPESTIMATE2012     int64
POPESTIMATE2013     int64
POPESTIMATE2014     int64
POPESTIMATE2015     int64
POPESTIMATE2016     int64
POPESTIMATE2017     int64
POPESTIMATE2018     int64
POPESTIMATE2019     int64
DEATHS2010          int64
DEATHS2011          int64
DEATHS2012          int64
DEATHS2013          int64
DEATHS2014          int64
DEATHS2015          int64
DEATHS2016          int64
DEATHS2017          int64
DEATHS2018          int64
DEATHS2019          int64
dtype: object

In [28]:
# This data will be sufficient for the project
# We can write it to a CleanData .csv file
census.to_csv('CleanData/census.csv', index=False)

## crashreport

The data in this file was originally provided in a format that was difficult to manipulate as above.  This data was reformatted in Google Sheets manually and was saved in its current form for use in this project.