# Create Database

## Connection to Database

In [1]:
# import statements
import subprocess
import sqlalchemy
from sqlalchemy import text
import csv

In [2]:
# Need to reinstall mysql through terminal
subprocess.run(["pip","install","mysqlclient"])
subprocess.run(["pip","install","mysql-connector-python"])

CompletedProcess(args=['pip', 'install', 'mysql-connector-python'], returncode=0)

In [3]:
# host = "cloud.google.com"
# INSTANCE_NAME ="thematic-garage-306516:us-west1:database-systems"
# db_string = f"mysql+mysqldb://root:{PASSWORD}@{PUBLIC_IP_ADDRESS}/{DBNAME}?unix_socket=/cloudsql/{INSTANCE_NAME}"

USER = "root"
PASSWORD = "secretsmakefriends125678"
PUBLIC_IP_ADDRESS ="34.105.17.205"
DBNAME ="mostDangerousState_db"

DATABASE_URI=f'mysql+mysqlconnector://{USER}:{PASSWORD}@{PUBLIC_IP_ADDRESS}/{DBNAME}'

print("Connection string is:", DATABASE_URI)

Connection string is: mysql+mysqlconnector://root:secretsmakefriends125678@34.105.17.205/mostDangerousState_db

In [4]:
try:
    engine = sqlalchemy.create_engine( DATABASE_URI )
    conn = engine.connect()
except Exception as exp:
    print("Create engine failed:", exp)

## Create Tables

In [48]:
# Drop all existing Tables
conn.execute("DROP TABLE IF EXISTS TotalMurders;")
conn.execute("DROP TABLE IF EXISTS IndividualMurders;")
conn.execute("DROP TABLE IF EXISTS ORIs;")
conn.execute("DROP TABLE IF EXISTS CrashFatalities;")
conn.execute("DROP TABLE IF EXISTS Populations;")
conn.execute("DROP TABLE IF EXISTS States;")
conn.execute("DROP TABLE IF EXISTS Regions;")
conn.execute("SHOW TABLES;").fetchall()

[]

In [49]:
# Regions Table
conn.execute("""
    CREATE TABLE IF NOT EXISTS Regions (
        id TINYINT(1) NOT NULL,
        region VARCHAR(16) NOT NULL,
        PRIMARY KEY (id));
""")

In [50]:
# States Table
conn.execute("""
    CREATE TABLE IF NOT EXISTS States (
        state VARCHAR(21) NOT NULL,
        region_id TINYINT(1) NOT NULL,
        PRIMARY KEY (state),
        CONSTRAINT fk_region_id
            FOREIGN KEY (region_id)
            REFERENCES Regions (id)
            ON DELETE RESTRICT
            ON UPDATE CASCADE);
""")

In [51]:
# ORIs Table
conn.execute("""
    CREATE TABLE IF NOT EXISTS ORIs (
        ori VARCHAR(7) NOT NULL,
        state VARCHAR(21) NOT NULL,
        county VARCHAR(45) NULL,
        agency VARCHAR(45) NULL,
        PRIMARY KEY (ori),
        FOREIGN KEY (state)
            REFERENCES States (state)
            ON DELETE RESTRICT
            ON UPDATE CASCADE);
""")

In [52]:
# Populations Table
conn.execute("""
    CREATE TABLE IF NOT EXISTS Populations (
        state VARCHAR(21) NOT NULL,
        pop2010 INT(10) UNSIGNED NULL,
        pop2011 INT(10) UNSIGNED NULL,
        pop2012 INT(10) UNSIGNED NULL,
        pop2013 INT(10) UNSIGNED NULL,
        pop2014 INT(10) UNSIGNED NULL,
        pop2015 INT(10) UNSIGNED NULL,
        pop2016 INT(10) UNSIGNED NULL,
        pop2017 INT(10) UNSIGNED NULL,
        pop2018 INT(10) UNSIGNED NULL,
        pop2019 INT(10) UNSIGNED NULL,
        deaths2010 INT(10) UNSIGNED NULL,
        deaths2011 INT(10) UNSIGNED NULL,
        deaths2012 INT(10) UNSIGNED NULL,
        deaths2013 INT(10) UNSIGNED NULL,
        deaths2014 INT(10) UNSIGNED NULL,
        deaths2015 INT(10) UNSIGNED NULL,
        deaths2016 INT(10) UNSIGNED NULL,
        deaths2017 INT(10) UNSIGNED NULL,
        deaths2018 INT(10) UNSIGNED NULL,
        deaths2019 INT(10) UNSIGNED NULL,
        PRIMARY KEY (state),
        FOREIGN KEY (state)
            REFERENCES States (state)
            ON DELETE RESTRICT
            ON UPDATE CASCADE);
        
""")

In [53]:
# CrashFatalities Table
conn.execute("""
    CREATE TABLE IF NOT EXISTS CrashFatalities (
        state VARCHAR(21) NOT NULL,
        year2010 SMALLINT(5) UNSIGNED NULL,
        year2011 SMALLINT(5) UNSIGNED NULL,
        year2012 SMALLINT(5) UNSIGNED NULL,
        year2013 SMALLINT(5) UNSIGNED NULL,
        year2014 SMALLINT(5) UNSIGNED NULL,
        year2015 SMALLINT(5) UNSIGNED NULL,
        year2016 SMALLINT(5) UNSIGNED NULL,
        year2017 SMALLINT(5) UNSIGNED NULL,
        year2018 SMALLINT(5) UNSIGNED NULL,
        year2019 SMALLINT(5) UNSIGNED NULL,
        PRIMARY KEY (state),
        FOREIGN KEY (state)
            REFERENCES States (state)
            ON DELETE RESTRICT
            ON UPDATE CASCADE);
""")

In [54]:
# TotalMurders Table
conn.execute("""
    CREATE TABLE IF NOT EXISTS TotalMurders (
        ori VARCHAR(7) NOT NULL,
        year SMALLINT(4) NOT NULL,
        murders SMALLINT(4) NULL,
        clears SMALLINT(4) NULL,
        PRIMARY KEY (ori, year),
        FOREIGN KEY (ori)
            REFERENCES ORIs (ori)
            ON DELETE RESTRICT
            ON UPDATE CASCADE);
""")

In [55]:
# IndividualMurders Table
conn.execute("""
    CREATE TABLE IF NOT EXISTS IndividualMurders (
        id VARCHAR(16) NOT NULL,
        ori VARCHAR(7) NOT NULL,
        solved TINYINT NULL DEFAULT 0,
        year SMALLINT(4) NOT NULL,
        month VARCHAR(9) NULL,
        homicide VARCHAR(100) NULL,
        situation VARCHAR(100) NULL,
        vic_age TINYINT(3) NULL,
        vic_sex VARCHAR(7) NULL,
        vic_race VARCHAR(45) NULL,
        vic_ethnicity VARCHAR(45) NULL,
        off_age TINYINT(3) NULL,
        off_sex VARCHAR(7) NULL,
        off_race VARCHAR(45) NULL,
        off_ethnicity VARCHAR(45) NULL,
        weapon VARCHAR(45) NULL,
        relationship VARCHAR(45) NULL,
        circumstance VARCHAR(45) NULL,
        subcircumstance VARCHAR(45) NULL,
        vic_count TINYINT(2) NULL,
        off_count TINYINT(2) NULL,
        PRIMARY KEY (id),
        FOREIGN KEY (ori)
            REFERENCES ORIs (ori)
            ON DELETE RESTRICT
            ON UPDATE CASCADE);
""")

In [56]:
# Confirm Tables exist
conn.execute("SHOW TABLES;").fetchall()

[('CrashFatalities',),
 ('IndividualMurders',),
 ('ORIs',),
 ('Populations',),
 ('Regions',),
 ('States',),
 ('TotalMurders',)]

## Add Triggers

In [57]:
# ins_murd
# updates TotalMurders table when an entry
# is added to IndividualMurders
conn.execute("DROP TRIGGER IF EXISTS ins_murd")
conn.execute("""
    CREATE TRIGGER ins_murd 
    AFTER INSERT ON IndividualMurders
    FOR EACH ROW
    BEGIN
        IF EXISTS (SELECT * FROM TotalMurders WHERE ori=NEW.ori AND year=NEW.year) THEN
            UPDATE TotalMurders
            SET murders = murders + 1, clears = clears + NEW.solved
            WHERE ori = NEW.ori AND year = NEW.year;
        ELSE
            INSERT INTO TotalMurders
            VALUES (NEW.ori, NEW.year, 1, NEW.solved);
        END IF;
    END
""")

In [58]:
# del_murd
# updates TotalMurders table when an entry
# is deleted from IndividualMurders
conn.execute("DROP TRIGGER IF EXISTS del_murd")
conn.execute("""
    CREATE TRIGGER del_murd
    AFTER DELETE ON IndividualMurders FOR EACH ROW
    BEGIN
        UPDATE TotalMurders
        SET murders = murders - 1, clears = clears - OLD.solved
        WHERE ori = OLD.ori AND year = OLD.year;
        DELETE FROM TotalMurders
        WHERE ori = OLD.ori AND year = OLD.year AND murders = 0;
    END
""")

## Add Data to Tables

In [59]:
# Region data from census.csv
# Remove previous data if there is any
conn.execute("DELETE FROM Regions;")

with open('CleanData/census.csv', newline='') as censusfile:
    
    lines = csv.reader(censusfile, delimiter=',')
    next(lines) # first line is header
    
    for i in range(0,5): # these five lines include region information
        line = next(lines)
        
        # Create the sql text and insert the Regions data
        sql = text("""
            INSERT INTO Regions
            VALUES (:id, :region);
        """)
        values = {"id": line[0], "region": line[1]}
        
        # Execute the sql statement
        conn.execute(sql, values)

[(0, 'United States'),
 (1, 'Northeast Region'),
 (2, 'Midwest Region'),
 (3, 'South Region'),
 (4, 'West Region')]

In [60]:
# State data from census.csv
# Remove previous data if there is any
conn.execute("DELETE FROM States;")

with open('CleanData/census.csv', newline='') as censusfile:
    
    lines = csv.reader(censusfile, delimiter=',')
    
    for i in range(0,6): # first  6 lines include general region information
        next(lines)
    
    # Loop through remaining lines with State data
    for line in lines:
        
        # Create sql statement
        sql = text("""
            INSERT INTO States
            VALUES (:state, :regionid);
        """)
        values = { "state": line[1], "regionid": line[0]}
        
        # Execute sql statement
        conn.execute(sql, values)

52

In [77]:
# ORI data from ind_murd_simple.csv
# Delete dependent tables and ORIs table
# The order here matters!
conn.execute("DELETE FROM IndividualMurders;")
conn.execute("DELETE FROM TotalMurders;")
conn.execute("DELETE FROM ORIs;")

with open('CleanData/ind_murd_simple.csv', newline='') as indmurdfile:
    
    lines = csv.reader(indmurdfile, delimiter=',')
    next(lines) # first line is header
    
    for line in lines:
        # typo in data "Rhodes Island" instead of "Rhode Island"
        st = line[3]
        if st == "Rhodes Island":
            st = "Rhode Island"
            
        # Create sql statement to insert data
        # We are using IGNORE keyword to ignore lines that cause duplicate entry errors
        ori_sql = text("""
            INSERT IGNORE INTO ORIs
            VALUES (:ori, :state, :county, :agency);
        """)

        cnty = line[1].split(", ")[0] # data uses format 'Anchorage, AK'
        ori_values = { "ori": line[2], "state": st, "county": cnty, "agency": line[4] }

        # Execute sql statement
        conn.execute(ori_sql, ori_values)

In [62]:
# Population data from census.csv
# Delete any data from Populations if it exists
conn.execute("DELETE FROM Populations;")

with open('CleanData/census.csv', newline='') as censusfile:
    
    lines = csv.reader(censusfile, delimiter=',')
    for i in range(0,6): # first  6 lines include general region information
        next(lines)
    
    # Loop through remaining lines with State data
    for line in lines:
        
        # Create sql statement
        sql = text("""
            INSERT INTO Populations
            VALUES (:state, 
            :pop2010, :pop2011, :pop2012, :pop2013, :pop2014,
            :pop2015, :pop2016, :pop2017, :pop2018, :pop2019,
            :deaths2010, :deaths2011, :deaths2012, :deaths2013, :deaths2014,
            :deaths2015, :deaths2016, :deaths2017, :deaths2018, :deaths2019);
        """)
        values = { "state": line[1], "pop2010": line[2], "pop2011": line[3], "pop2012": line[4], "pop2013": line[5],
                  "pop2014": line[6], "pop2015": line[7], "pop2016": line[8], "pop2017": line[9], "pop2018": line[10],
                  "pop2019": line[11], "deaths2010": line[12], "deaths2011": line[13], "deaths2012": line[14], "deaths2013": line[15],
                  "deaths2014": line[16], "deaths2015": line[17], "deaths2016": line[18], "deaths2017": line[19], "deaths2018": line[20],
                  "deaths2019": line[21]
                 }
        
        # Execute sql statement
        conn.execute(sql, values)

In [63]:
# Crash Fatality data from crashreport.csv
# Delete any data from CrashFatalities if it exists
conn.execute("DELETE FROM CrashFatalities;")

with open('CleanData/crashreport.csv', newline='') as crashfile:
    
    lines = csv.reader(crashfile, delimiter=',')
    
    for line in lines:
        
        # Create sql statement
        sql = text("""
            INSERT INTO CrashFatalities
            VALUES (:state, :year2010, :year2011, :year2012, :year2013, :year2014,
            :year2015, :year2016, :year2017, :year2018, :year2019);
        """)
        values = { "state": line[0], "year2010": line[1], "year2011": line[2], "year2012": line[3], "year2013": line[4],
                  "year2014": line[5], "year2015": line[6], "year2016": line[7], "year2017": line[8], "year2018": line[9],
                  "year2019": line[10]
        }
        
        # Execute sql statement
        conn.execute(sql, values)

In [79]:
# Individual Murders data from ind_murd_simple.csv
# entries in TotalMurders will also be added based on Trigger ins_murd

# Delete any data in the two tables if it exists
conn.execute("DELETE FROM IndividualMurders;")
conn.execute("DELETE FROM TotalMurders;")

# Open the csv file
with open('CleanData/ind_murd_simple.csv', newline='') as indmurdfile:
    
    lines = csv.reader(indmurdfile, delimiter=',')
    next(lines) # first line is header
    
    for line in lines:
        
        # Create sql for inserting the Individual Murder data into IndividualMurders
        # For duplicate IDs, we are using IGNORE and not adding them to the table
        ind_murd_sql = text("""
            INSERT IGNORE INTO IndividualMurders
            VALUES (:id, :ori, :solved, :year, :month, :homicide,
            :situation, :vic_age, :vic_sex, :vic_race, :vic_ethnicity, 
            :off_age, :off_sex, :off_race, :off_ethnicity, :weapon,
            :relationship, :circumstance, :subcircumstance, :vic_count,
            :off_count);
        """)
        
        # Correct some issues in the original data before inserting to table
        # Have to convert solved 'Yes' or 'No' to boolean 1 or 0
        solved_bool = 0
        if line[6] == 'Yes':
            solved_bool = 1
        # Have to convert vic_age of '' to 0
        vic_age = line[11]
        if vic_age == '':
            vic_age = 0
        # Have to convert off_age of '' to 0
        off_age = line[15]
        if off_age == '':
            off_age = 0
        
        # set sql statement variables
        ind_murd_values = { "id": line[0], "ori": line[2], "solved": solved_bool,
                  "year": line[7], "month": line[8], "homicide": line[9],
                  "situation": line[10], "vic_age": vic_age, "vic_sex": line[12],
                  "vic_race": line[13], "vic_ethnicity": line[14], "off_age": off_age,
                  "off_sex": line[16], "off_race": line[17], "off_ethnicity": line[18],
                  "weapon": line[19], "relationship": line[20], "circumstance": line[21],
                  "subcircumstance": line[22], "vic_count": line[23], "off_count": line[24]
        }
        
        # Execute sql statement
        conn.execute(ind_murd_sql, ind_murd_values)

## Unofficial Tests

In [5]:
# Test query to find solved murders out of total murders for northeast region
conn.execute("""
    SELECT ORIs.state, SUM(solved), COUNT(IndividualMurders.id)
    FROM IndividualMurders 
    JOIN ORIs ON ORIs.ori=IndividualMurders.ori
    JOIN States ON ORIs.state=States.state
    JOIN Regions ON States.region_id=Regions.id
    WHERE region="Northeast Region"
    GROUP BY ORIs.state
""").fetchall()

[('Connecticut', Decimal('31'), 48),
 ('Maine', Decimal('9'), 10),
 ('Massachusetts', Decimal('37'), 64),
 ('New Hampshire', Decimal('6'), 6),
 ('New Jersey', Decimal('51'), 101),
 ('New York', Decimal('148'), 215),
 ('Pennsylvania', Decimal('140'), 219),
 ('Vermont', Decimal('1'), 1)]

In [13]:
conn.execute("""
    SELECT state, year2019
    FROM CrashFatalities
    ORDER BY year2019 DESC
    LIMIT 5;
""").fetchall()

[('Texas', 3294),
 ('California', 3316),
 ('Florida', 2950),
 ('North Carolina', 1284),
 ('Pennsylvania', 990)]

In [34]:
conn.execute("""
    SELECT ORIs.state, SUM(murders)
    FROM TotalMurders
    JOIN ORIs ON TotalMurders.ori=ORIs.ori
    JOIN States ON States.state=ORIs.state
    WHERE ORIs.state='Texas'
    LIMIT 5;
""").fetchall()

[('Texas', Decimal('1651'))]

In [6]:
conn.execute("""
    SELECT state, pop2019
    FROM Populations
    ORDER BY pop2019 DESC
    LIMIT 5;
""").fetchall()

[('California', 39512223),
 ('Texas', 28995881),
 ('Florida', 21477737),
 ('New York', 19453561),
 ('Pennsylvania', 12801989)]

In [5]:
conn.execute("""
    SELECT CrashFatalities.state, (year2019 / pop2019 * 100)
    FROM CrashFatalities
    JOIN Populations ON CrashFatalities.state=Populations.state
    LIMIT 5;
""").fetchall()

[('Alabama', Decimal('0.0175')),
 ('Alaska', Decimal('0.0085')),
 ('Arizona', Decimal('0.0125')),
 ('Arkansas', Decimal('0.0155')),
 ('California', Decimal('0.0084'))]

In [17]:
conn.execute("""
    INSERT INTO ORIs (ori, state)
    VALUES ("BK70707", "Colorado")
""")

conn.execute("""
    INSERT INTO IndividualMurders (id, ori, solved, year)
    VALUES ("TEST101010", "BK70707", 1, 2019);
""")

In [18]:
conn.execute("""
    SELECT *
    FROM TotalMurders
    WHERE ori="BK70707" AND year=2019;
""").fetchall()

[('BK70707', 2019, 1, 1)]

In [32]:
conn.execute("""
    INSERT INTO IndividualMurders (id, ori, solved, year)
    VALUES ("TEST111111", "BK70707", 0, 2019);
""")

In [33]:
conn.execute("""
    SELECT *
    FROM TotalMurders
    WHERE ori="BK70707" AND year=2019;
""").fetchall()

[('BK70707', 2019, 1, 0)]

In [28]:
conn.execute("""
    DELETE FROM IndividualMurders
    WHERE id="TEST101010";
""")
conn.execute("""
    SELECT *
    FROM TotalMurders
    WHERE ori="BK70707" AND year=2019;
""").fetchall()

[('BK70707', 2019, 1, 0)]

In [34]:
conn.execute("""
    DELETE FROM IndividualMurders
    WHERE id="TEST111111";
""")
conn.execute("""
    SELECT *
    FROM TotalMurders
    WHERE ori="BK70707" AND year=2019;
""").fetchall()

[]

In [76]:
conn.execute("""
    SELECT * FROM ORIs
    WHERE ori = "RI00408"
    LIMIT 5;
""").fetchall()

[('RI00408', 'Rhode Island', 'Providence', 'Pawtucket')]

In [80]:
conn.execute("""
    SELECT COUNT(id)
    FROM IndividualMurders;
""").fetchall()

[(4994,)]

In [81]:
conn.execute("""
    SELECT *
    FROM TotalMurders
    WHERE clears = 0
    LIMIT 5;
""").fetchall()

[('AL00101', 2015, 1, 0),
 ('AL00102', 2013, 2, 0),
 ('AL00107', 2018, 1, 0),
 ('AL00122', 2011, 1, 0),
 ('AL00200', 2016, 1, 0)]